* {
    box-sizing: border-box;
}
body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}
main {
    margin: 20px auto;
    width: 94%;
}
.title {
    text-align: center;
    border: 2px solid;
    background-image: linear-gradient(#82c4de, #18a1d7, #0d6ed6); 
    color: #ffffff;
    padding: 40px;
}
/* card title */
h1 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}
.flex-row {
    float: left;
    flex-wrap: wrap;
    width: 300px;
}

/*search box*/
.card {
    border: 3px solid #215184;
    border-radius: var(--border-radius);
    color: #ffffff;
    margin-left: 20px;
}
.card-option {
    border: 3px solid #215184;
    border-radius: var(--border-radius);
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
}
.card-title {
    border: 1px solid #0d6ed6;
    background-color: #0d6ed6;
    color: #ffffff;
    text-align: center;
    margin: 10px;
}
.card-header {
    border: 1px solid #0d6ed6;
    background-color: #0d6ed6;
    color: #ffffff;
    text-align: center;
    margin: 10px;
}
.card-body {
    padding: 2.5%;
}
.card-btn {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    margin: 5px;
    color: #215184;
}
.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
    display: block;
    color: #215184;
    font-weight: bold;
}
.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    box-sizing: block;
  }
.content {
    color: black;
}
h2 {
    font-weight: 300;
    color: var(--dark);
    line-height: 1.25;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.list-group {
    padding: 0;
    list-style: none;
}
.btn {
    font-size: 1.3rem;
    text-decoration:none;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: #18a1d7;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);

}
.btn:hover {
    color: #82c4de;
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.maxValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.minValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.austin, .orlando, .sanfran, .newyork, .chicago, .atlanta, .denver, .seattle {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 95%;
    font-size: 1.3rem;
    outline: none;
    margin-right: 9px;
    margin-top: 9px;
    color: #215184;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    box-shadow: 3px 3px rgb(0, 153, 255);
}
.austin:hover, .orlando:hover, .sanfran:hover, .newyork:hover, .chicago:hover, .atlanta:hover, .denver:hover, .seattle:hover {
    color: #57bfe8;
}
.forcast-title {
    text-align: center;
    font-weight: bold;
}
.weatherDisplay {
    border: #0d6ed6 3px solid;
    align-items: center;
}